*{
  color: white;
font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;


  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;

  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */

}


* {
   box-sizing: border-box;
}
body {
   margin: 0;
   padding: 0;
   background-color:black;
   letter-spacing : 0.2em;
}
header {
   padding: 30px 4% 10px;
   position: fixed;
   top: 0;
   width: 100%;
   background-color: transparent;
   display: flex;
   align-items: center;
}
a {
   text-decoration: none;
   color:white;
}
nav {
   margin: 0 0 0 auto;
}
ul {
   list-style: none;
   margin: 10px;
   display: flex;
}
li {
   margin: 0 0 0 40px;
   font-size: 20px;
}
.main-visual {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;

}
h2 {
   margin: 0;
   font-size: 40px;
   font-weight: normal;
   border-bottom:  inset 5px white;
   color:white;
}

.shasin img{
   width: 500px;
}

.news {
margin-top: 100px;
margin-bottom: 100px;
}
