*{
  color: black;
  font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
  margin:0; padding:0;
}

header {
  height: 100px;
  width: 100%;
  padding: 15px 0;
  background:rgba(51,112,121,0.5);
  color: white;
}
header .headline{
    line-height: 100px;
    float: left;
    font-size: 30px;
    margin-left: 30px;
}
.nav-list {
    line-height: 100px;
    float: left;
    margin-left: 100px;
    list-style: none;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 30px;
}
body{

}

main{
  text-align: center;
  margin: auto;
  
}
.Profile{
  margin-top: 100px;
  margin-bottom: 100px;
  color:;
}
h2{
  color:#337079;
}
footer{
  margin-left: 950px;
}
